<div class="container text-center">
    <h1>About Us</h1>
    
    <br>
    
    <div class="well">
        <h4>We are DevMatch. Our company focuses on creating an exclusive community
        for developers, investors, and entrepreneurs to meet. 
        </h4>
        
        <br>
        
        <h4>
            At least...that's what this page would say if this were a real startup 
            company's website. In reality, I created this website with the help of 
            <a href="https://upskillcourses.com/courses/essential-web-developer-course/">
                the following tutorial
            </a>
            in order to further my web development skills. The website was built with
            HTML5, CSS3/SCSS, and JavaScript utilizing the Ruby on Rails framework.
        </h4>
        
        <br>
        
        <h4>User authentication is handled through Devise. I have no access to 
        passwords in the database. E-commerce/subscriptions are handled through
        Stripe; however, if you sign up for a pro account, you <strong>will not</strong>
        get billed, and I have no access to payment information. Feel free to sign up
        for a pro account using fake credit card details in order to view all
        site functionality.</h4>
    </div>
</div>